 .button_authentification {
    
    background: #04AA6D;
    text-align: center;
 
    max-height: 4rem;
    max-width: 12rem;
    width: 12rem;

    text-transform: uppercase;
    border: none;
    cursor: pointer;

    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 0.5rem;

    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &:hover {
        color: rgb(255, 255, 255);
        background: #166b4c;
    }  
}
