.footer {
    display: flex;
    width: 90%;
    height: 5.5rem;
    margin: 0 auto;
    background: rgb(220 215 215);
    box-shadow: rgb(17 12 46 / 15%) 0 48px 100px 0;
    border-radius: 1rem 1rem 0 0;
    font-family: var(--font-nav);
    grid-template-columns: 70% 30%;
}