.formBody {
    display: grid;
    width: 60%;
    height: 80%;
    margin: 0 auto;
    align-items: center;
    grid-template-rows: 20% 20% 20% 20% 20%;


    & > div:nth-child(5) {
        display: flex;
        justify-content: center;
    }
}