a, .react-router-link {
  color: inherit; /* Lien avec la même couleur que le texte environnant */
  text-decoration: none;  /* Pas de soulignement */
}

a:hover, .react-router-link:hover {
  color: inherit; /* Pas de changement de couleur au survol */
  text-decoration: none; /* Pas de soulignement au survol */
}