/* CONFIGS */

@import url("styles/link.css");
@import url("styles/font.css");
@import url("styles/color.css");

/* GLOBAL */

@import url("styles/body.css");

/* COMPONENTS */

@import url("styles/nav.css");
@import url("styles/button.css");
@import url("styles/footer.css");

/* COMPONENTS NAV */

/* COMPONENTS FORM */

@import url("styles/form_authentification.css");
@import url("styles/form_input.css");
@import url("styles/form_body.css");
@import url("styles/form_label.css");
@import url("styles/form_submit_button.css");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-nav);
}

